.menu{
background-color: yellowgreen;
color:white;
display: flex;
flex-direction: column;
padding:20px;
padding-right: 27px;
flex-shrink: 0;
width:100px;
border-color: white;
border-style: solid;
border-right-width: 5px;
border-left-width: 0px;
border-top-width: 0px;
}

.name,.code,.grade{
    width:fit-content;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    border-color: rgb(64, 165, 242);
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
}
.home{
    border-color: white;
    border-style: solid;
    margin-top: 5%;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.297);
    margin-left: 25%;
    margin-right: 25%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}
.content2{
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    padding: 20px;
    flex: 1;
    width: 100%;
}
.navbar{
    background-color: rgb(64, 165, 242);
    padding:20px;
    width: 100%;
    color: white;
    font-size: large;

}
.body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin:0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(\happy-young-university-students-studying-with-books-in-college-group-of-multiracial-people-in-classroom-JLPSF17126.jpg);
   
}
.maincontainer{
    display: flex;
    flex: 1;
}
.user{
    display: inline;
    padding-left: 0%;
    margin-left: 90%;

    
    
}
.buttons{
    display: flex;
    flex-direction: column;
    gap:30px;
    font-weight: bold;
    
}
.title{
    padding-bottom: 30px;
}
.button{
    background-color:rgb(64, 165, 242);
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    color: white;
    padding: 7px;
    font-weight: bold;
    width: fit-content;
    text-decoration: none;

}
.buttonhome{
    background-color:white;
    border-radius: 10px;
    border-color:rgb(64, 165, 242);
    border-style: solid;
    color:rgb(64, 165, 242);
    padding: 7px;
    font-weight: bold;
    width: fit-content;
    text-decoration: none;
}
.submit{
    background-color:rgb(64, 165, 242);
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    color: white;
    padding: 10px;
    font-weight: bold;
    width: fit-content;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
}
.submit1{
    background-color:yellowgreen;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    color: white;
    padding: 10px;
    font-weight: bold;
    width: fit-content;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
}
